body{
    background-color:teal;
    text-align:center;
    color:white;
 }

 .h1{
    font-family: "Audiowide", sans-serif;
    color: rgb(30,230,4);
    font-size:3em;

 }

 hr.n1{
    border : 6px dotted white;
 }

 .txt{
    float:left;
    width:10%;
    margin-left:40%;
    margin-right:-40%;

}





